<!DOCTYPE html> 
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <form action="/merge" method="get">
            <input type="text" name="uservalue" placeholder="Enter the value...">
            <input type="submit" value="Submit">
        </form>
    </body>
    
</html>

